 
 body{
 	background-image: url("../img/grey.png");
 }

 /*######################
 * AJUSTES DO MENU
 #######################*/

/*recua para baixo o menu*/
#menu{
	margin-top: 5px;
}

/*Define o gradiente do menu*/
.navbar{
	color: #fff;
	background-color: #0066ff;
    background-image: linear-gradient(to bottom, #63A0D6, #3B6FA8);
    border: 1px solid #3B6FA8;
    margin-bottom: 1px;

}

/*define o sombreamento nos links do menu*/
.navbar-header .navbar-brand, .collapse .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

.collapse .nav > li > a{
		text-align: center;
}

/*define um fundo diferente para o item do menu selecionado*/
.collapse .nav > .active > a, .navbar-collapse .nav > .active > a:hover, .collapse .nav > .active > a:focus {
    background-image: linear-gradient(to bottom, #3885CB, #325E8D);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #FFF;
    text-decoration: none;
}

.collapse .nav a:hover, .collapse .nav a:focus{
	color: #fc0;
	background-image: linear-gradient(to bottom, #78ACDC, #3B6FA8 );
    box-shadow: 0 3px 8px rgba(252, 252, 252, 0.4) inset;	
}

/*expande a largura da lista para a largura no menu*/
#menu_justificado, #menu_justificado .nav {
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu_justificado .nav {
	display: table;
}

#menu_justificado .nav li{
	display: table-cell;
    width: 20%;
    float: none;
}

#menu_justificado .nav li a{
	border-left: 1px solid #92BCE2;
    border-right: 1px solid #385581;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

#menu_justificado .nav > .active > a, #menu_justificado .nav > .active > a:hover, #menu_justificado .nav > .active > a:focus {
    background-image: linear-gradient(to bottom, #3885CB, #325E8D);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

#menu_justificado .nav  a:hover{
	color: #fc0;
	background-image: linear-gradient(to bottom, #78ACDC, #3B6FA8 );
    box-shadow: 0 3px 8px rgba(252, 252, 252, 0.4) inset;	
}

#menu_justificado .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

#menu_justificado .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

/*altera as cores no menu mobile*/
.navbar-header .navbar-toggle {
	background-color: #fff;
	border-color: #000;
}

/*altera as cores no menu mobile*/
.navbar-header .navbar-toggle .icon-bar {
    background-color: #3B6FA8;
}


/*.navbar-default .navbar-collapse{
	border:0px solid;
    border-color: rgba(0,0,0,1);
}*/

 /*################
 * CORPO DA HOME
 *#################*/

/*Configurações básicas do painel de Notícias(novidades)*/
#novidades_home{
	background-color: rgba(135, 189, 240, 0.6);
	min-height: 480px;
	border-radius: 6px;
	padding-bottom: 1%;
	text-align: justify;
}

/*Cor da head do painel de noticias*/
#novidades_home h2{
	color: #990000;
}

/*Configuração das noticias(novidades)*/
.media-list .media{
	background-color: #fff;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 6px;
	display: block;
}

/*Configuração do botão mais novidades*/
#mais_noticias{
	background-color: #fff;
	width: 97%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;

	/*padding-top: 2px;
	padding-bottom: 5px;	*/
}

/*Configuração do botão mais novidades*/
#mais_noticias a{
	text-decoration: none;
	color: #000;
}

/*Configuração do botão mais novidades*/
#mais_noticias:hover{
	background-color: #f9f9f9;

}

/*Alinhamento da coluna direita da página*/
#esquerda_corpo_home > .row{
	margin-right: 0px;
}

/*Configurações básicas do painel de Fotos*/
#fotos_home{
	background-color: rgba(135, 189, 240, 0.6);
	height: 350px;
	border-radius: 6px;
	margin-top: 10px;
}

/*Cor da head do painel de fotos*/
#fotos_home h2{
	color: #990000;
}

/*Configuração do plugin de fotos*/
 #galleria{
 	height:300px;
 	width:420px;
 	margin-left: auto;
 	margin-right: auto;
}

/*Define a cor do fundo do painel de fotos*/
.galleria-container{
	background-color: #000;
	border: 2px solid #fff;
}

/*Configuração do painel do mapa*/
#mapa_ita{
	background-color: rgba(135, 189, 240, 0.6);
	height: 310px;
	border-radius: 6px;
	margin-top: 10px;
}

/*Define cor e alinhamento do head do painel do mapa*/
#mapa_ita h2{
	margin: 2% 0 2% 0;
	text-align: center;
	color:#990000;
}

/*Configuração do map*/
#mapa_ita iframe{
	margin:auto;
	width: 420px;
	height: 240px;
	margin-left: 7%;
}


/*##################
 * CORPO_LOJAS
##################*/

#lista_lojas { 
    border-collapse:collapse; 
    border:2px solid #FF0000; 
    background-color:#FFFFFF;
	color:#FF0000; 
	padding:5px; 
	width:250px; 
	height:300px; 
	overflow:auto; 
	margin-top:2%;
	margin-left: 2%;
}

#lista_lojas ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#lista_lojas a{
	display: block;
	padding: 5px 5px 5px 0.5em;
	font-weight:bold;
	border-left: 10px solid #f6f6f6;
	background-color: #fff;
	color: #808000;
	text-decoration: none;
}

#lista_lojas a:hover{
	background-color: #f6f6f6
}

#lista_lojas li{
	border-bottom: 1px solid #fff;
	margin: 0;
}


#logo_loja{
	margin: 1% auto 2% auto;
	padding-left: 8%;
}

#lojas_container{
	padding: 2%;
	display: block;
	background-color: #fff;
	border-radius: 6px;
	min-height: 320px;
}

#lojas_container p {
	text-align: justify;
}

/*.lojas{
	display: none;
}*/

.ocultar_lojas{
	display: none;
}


.exibir_loja{
	display: block;
}

 /*##################
 * RODAPE
   ##################*/

/*Configuração do rodape*/
#rodape{
	margin-top: 20px;
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 6px;
}

/*Configuração do texto do rodape*/
#rodape > p {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Configuração dos espaço destinado a redes sociais*/
#rodape #redes_sociais{
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 40px;
	margin-top: 10px;
}

/*Configuração das imagens das redes sociais*/
#rodape #redes_sociais img{
	height: 30px;
	width: 30px;
}