 /*
 * AJUSTES DO MENU
 */

.navbar-header {
    margin-top: 1px;
}

.navbar{
	color: #fff;
	background-color: #0066ff;
    background-image: linear-gradient(to bottom, #63A0D6, #3B6FA8);
    border: 1px solid #3B6FA8;
    margin-bottom: 1px;

}

.navbar-header .navbar-brand, .collapse .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

.collapse .nav > li > a {
    border-left: 1px solid #92BCE2;
    border-right: 1px solid #385581;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center
}


.collapse .nav > .active > a, .navbar-collapse .nav > .active > a:hover, .collapse .nav > .active > a:focus {
    background-image: linear-gradient(to bottom, #3885CB, #325E8D);

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #FFF;
    text-decoration: none;
}

.nav {
	width: 100%;
	/*max-height: 50px;*/
	padding: 0px;	
	
}


.nav li{
	width: 20%;
	/*display: table-cell;
    
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    margin-left: 0px;
    margin-right: 0px;*/

    /*display: block;*/
     
}

.navbar-collapse, .container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	/*border-radius: 5px 0 0 5px;*/
}



/*.navbar-collapse .nav > a:hover{
	background-image: linear-gradient(to bottom, #3885CB, #325E8D);
}*/


.navbar-header .navbar-toggle {
	background-color: #fff;
	border-color: #000;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #3B6FA8;
}


 /*
 * CORPO DA HOME
 */
#novidades_home{
	background-color: #6DCF9C;
	min-height: 480px;
	border-radius: 6px;
	padding-bottom: 1%;
}

#fotos_home{
	background-color: #6DCF9C;
	height: 370px;
	border-radius: 6px;
	margin-top: 10px;
	/*padding-top: 10px;*/

}

.media-list .media{
	background-color: #fff;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 6px;
	display: block;
}

#mais_noticias{
	background-color: #fff;
	width: 97%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;

	/*padding-top: 2px;
	padding-bottom: 5px;	*/
}

#mais_noticias a{
	text-decoration: none;
	color: #000;
}

#mais_noticias:hover{
	background-color: #f9f9f9;

}

 #galleria{
 	height:300px;
 	width:420px;
 	margin-left: auto;
 	margin-right: auto;
}

.galleria-container{
	background-color: #6DCF9C;
	border: 2px solid #fff;
}


#mapa_ita{
	background-color: #6DCF9C;
	height: 320px;
	border-radius: 6px;
	margin-top: 10px;
}

#mapa_ita h2{
	margin: 2% 0 0 0;
	text-align: center;
}

#mapa_ita iframe{
	margin:auto;
	width: 420px;
	height: 250px;
	margin-left: 7%;
}

#mapa_ita iframe  > small  > a{
	margin-left: 8%;

}
 /*
 * RODAPE
 */

#rodape{
	margin-top: 20px;
}


#rodape > p {
	margin-top: 0px;
	margin-bottom: 0px;
}

#rodape #redes_sociais{
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 40px;
	margin-top: 10px;
}

#rodape #redes_sociais img{
	height: 30px;
	width: 30px;
}