 
 body{
 	background-image: url("../img/grey.png");
 }

 .ocultar{
	display: none;
}


.exibir{
	display: block;
}

.banner_page{
	width: 100%;
}

.container{
	background: none repeat scroll 0 0 rgba(135, 189, 240, 0.2);
	padding-left: 0;
	padding-right: 0;
}

 /*######################
 * AJUSTES DO MENU
 #######################*/


/*MENU RESPONSIVO*/

/*recua para baixo o menu*/
#menu{
	margin-top: 5px;
}

/*Define o gradiente do menu*/
.navbar{
	color: #fff;
	background-color: #0066ff;
    background-image: linear-gradient(to bottom, #63A0D6, #3B6FA8);
    border: 1px solid #3B6FA8;
    margin-bottom: 1px;

}

/*define o sombreamento nos links do menu*/
.navbar-header .navbar-brand, .collapse .nav > li > a {
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

.collapse .nav > li > a{
		text-align: center;
}

/*define um fundo diferente para o item do menu selecionado*/
.collapse .nav > .active > a, .navbar-collapse .nav > .active > a:hover, .collapse .nav > .active > a:focus {
    background-image: linear-gradient(to bottom, #3885CB, #325E8D);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #FFF;
    text-decoration: none;
}

.collapse .nav a:hover, .collapse .nav a:focus{
	color: #fc0;
	background-image: linear-gradient(to bottom, #78ACDC, #3B6FA8 );
    box-shadow: 0 3px 8px rgba(252, 252, 252, 0.4) inset;	
}

/*altera as cores no menu mobile*/
.navbar-header .navbar-toggle {
	background-color: #fff;
	border-color: #000;
}

/*altera as cores no menu mobile*/
.navbar-header .navbar-toggle .icon-bar {
    background-color: #3B6FA8;
}



/*MENU JUSTIFICADO (SOMENTE PARA DESKTOP)*/

/*expande a largura da lista para a largura no menu*/
#menu_justificado, #menu_justificado .nav {
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu_justificado .nav {
	display: table;
}

#menu_justificado .nav li{
	display: table-cell;
    width: 20%;
    float: none;
}

#menu_justificado .nav li a{
	border-left: 1px solid #92BCE2;
    border-right: 1px solid #385581;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

#menu_justificado .nav > .active > a, #menu_justificado .nav > .active > a:hover, #menu_justificado .nav > .active > a:focus {
    background-image: linear-gradient(to bottom, #3885CB, #325E8D);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

#menu_justificado .nav  a:hover{
	color: #fc0;
	background-image: linear-gradient(to bottom, #78ACDC, #3B6FA8 );
    box-shadow: 0 3px 8px rgba(252, 252, 252, 0.4) inset;	
}

#menu_justificado .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

#menu_justificado .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}


 /*################
 * CORPO DA HOME
 *#################*/

/*Configurações básicas do painel de Notícias(novidades)*/
#novidades_home{
	/*background-color: rgba(135, 189, 240, 0.1);*/
	 background: none repeat scroll 0 0 rgba(135, 189, 240, 0.2);
	min-height: 480px;
	border-radius: 6px;
	padding-bottom: 1%;
	text-align: justify;
}

/*Cor da head do painel de noticias*/
#novidades_home h2{
	color: #990000;
}

/*Configuração das noticias(novidades)*/
.media-list .media{
	background-color: #fff;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 6px;
	display: block;
}


.caixa_img_noticia{
	position: relative;
	/*left: -75px;*/
	overflow: hidden; 
	width: 150px; 
	height: 160px;
}

/*Configuração do botão mais novidades*/
#mais_noticias{
	background-color: #fff;
	width: 97%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;

	/*padding-top: 2px;
	padding-bottom: 5px;	*/
}

/*Configuração do botão mais novidades*/
#mais_noticias a{
	text-decoration: none;
	color: #000;
}

/*Configuração do botão mais novidades*/
#mais_noticias:hover{
	background-color: #f9f9f9;

}

/*Alinhamento da coluna direita da página*/
#esquerda_corpo_home > .row{
	margin-right: 0px;
}

/*Configurações básicas do painel de Fotos*/
#fotos_home{
	background-color: rgba(135, 189, 240, 0.6);
	height: 350px;
	border-radius: 6px;
	margin-top: 10px;
}

/*Cor da head do painel de fotos*/
#fotos_home h2{
	color: #990000;
}

/*Configuração do plugin de fotos*/
 #galleria{
 	height:300px;
 	width:420px;
 	margin-left: auto;
 	margin-right: auto;
}

/*Define a cor do fundo do painel de fotos*/
.galleria-container{
	background-color: #000;
	border: 2px solid #fff;
}

/*Configuração do painel do mapa*/
#mapa_ita{
	background-color: rgba(135, 189, 240, 0.6);
	height: 310px;
	border-radius: 6px;
	margin-top: 10px;
}

/*Define cor e alinhamento do head do painel do mapa*/
#mapa_ita h2{
	margin: 2% 0 2% 0;
	text-align: center;
	color:#990000;
}

/*Configuração do map*/
#mapa_ita iframe{
	margin:auto;
	width: 420px;
	height: 240px;
	margin-left: 7%;
}

/*img padrão para os posts sem imagem destaca*/
.img_padrao_noticia{
	width: 150px;
	height: 160px;
}

/*##################
 * BOTÕES USADOS EM FILTRO_LOJAS E NA PAG CINEMA
##################*/
.btn-group-ita{
	margin: 2% 0% 2% 29.5%;*/
	/*margin: 2% 25% 2% 25%;*/
	/*width: 100%;*/
}

.btn-primary{
	/*margin-left: 3%;
	margin-right: 3%;*/
	/*width: 200px;*/
	width: 250px;
}

.btn_ativo{
	background-color: #3276b1;
	border-color: #285e8e;
	color: #fff;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3) inset;
}

#btn_prox_filmes{
	width: 250px;
}

#btn_filmes_cartaz{
	width: 250px;
}





/*##################
 * CORPO_LOJAS
##################*/

/*LISTA DE TODAS AS LOJAS QUE APARECE NA LATERAL*/

#lista_lojas { 
    border-collapse:collapse; 
    border:4px solid #006699; 
    background-color:#FFFFFF;
	color:#FF0000; 
	padding:5px; 
	width:250px; 
	height:300px; 
	overflow:auto; 
	margin-top:2%;
	margin-left: 2%;
}

#lista_lojas ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#lista_lojas a{
	display: block;
	padding: 5px 5px 5px 0.5em;
	font-weight:bold;
	border-left: 10px solid #D2D2FF;
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

#lista_lojas a:hover{
	background-color: #D2D2FF
}

#lista_lojas li{
	border-bottom: 1px solid #fff;
	margin: 0;
}


/*LISTA DE CATEGORIAS APARECE NA LATERAL*/
	
#categoria_lojas { 
    border-collapse:collapse; 
	border:4px solid #006699; 
    background-color:#FFFFFF;
	color:#FF0000; 
	padding:5px; 
	width:250px; 
	height:300px; 
	overflow:auto; 
	margin-top:2%;
	margin-left: 2%;
}

#categoria_lojas ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#categoria_lojas a{
	display: block;
	padding: 5px 5px 5px 0.5em;
	font-weight:bold;
	border-left: 10px solid #D2D2FF;
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

#categoria_lojas a:hover{
	background-color: #D2D2FF
}

#categoria_lojas li{
	border-bottom: 1px solid #fff;
	margin: 0;
}


#categoria_lojas ul li ul{
	/*display: none;*/
}

#categoria_lojas .submenu{
	background-color: #428bca;
	font-size: 1.2em;
	color: #fff;
	border-radius: 4px;
	border-left: 10px solid #3276b1;
	margin-bottom: 1%;
	margin-top: 1%;
}

#categoria_lojas .submenu:hover{
	background-color: #3276b1;
	/*border-left: 10px solid #285e8e;*/
}



/*CONFIGURAÇÃO DAS LOJAS*/

/*configuração da imagem da loja*/


#lojas_container{
	padding: 2%;
	display: block;
	background-color: #fff;
	border-radius: 6px;
	min-height: 320px;
}

/*justifica o texto das lojas*/
#lojas_container p {
	text-align: justify;
}

#logo_loja img{
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1%;
	padding-right: 1%;
}


 /*##################
 * CORPO CINEMA
   ##################*/


#cine_container{
	padding: 2%;
	display: block;
	background-color: #fff;
	border-radius: 6px;
	min-height: 320px;
}
 
.filmes_cartaz{
	margin-top: 2%;
	margin-bottom: 4%;
}
.filmes_cartaz .img_filme img{
	width: 230px;
	height: 302px;
	border: 1px solid rgb(0, 0, 0);
	display: block; 
	margin-left: auto; 
	margin-right: auto
}

.texto_filme{
	text-align: justify;
}

.filmes_cartaz .texto_filme h3{
	text-align: center;
	margin-top: 1%;
}

.filmes_cartaz .sinopse{
	display: block;
	font-size: 0.85em;
}

.info_filme{
	font-weight: bold;
}

.class_indi{
	color: red;
}

.class_indi span{
	font-weight: bold;
}

.prox_filmes  img{
	width: 160px;
	height: 213px;
	border: 1px solid rgb(0, 0, 0);
	/*display: inline;*/
	margin-left: 1%; 
	margin-right: 2%;
	float: left;
}

.prox_filmes h3{
	margin-top: 0px;
}

.prox_filmes .texto_filme{
	float: left;

}

 /*##################
 * BLOG
   ##################*/

   /*IMG da página do post notícia*/
.img_post_single{
	display:block;
	margin: 10px auto 10px auto;
	width: 100%;
}



 /*##################
 * RODAPE
   ##################*/

/*Configuração do rodape*/
#rodape{
	margin-top: 20px;
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 6px;
}.filmes_cartaz 

/*Configuração do texto do rodape*/
#rodape > p {
	 margin-top: 0px;
	margin-bottom: 0px;
}

/*Configuração dos espaço destinado a redes sociais*/
#rodape #redes_sociais{
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 40px;
	margin-top: 10px;
}

/*Configuração das imagens das redes sociais*/
#rodape #redes_sociais img{
	height: 30px;
	width: 30px;
}